body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
header {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
.container {
    margin-top: 20px;
}
.multiplex-dropdown {
    width: 200px;
}
.theater-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 30%;
}
.update-btn {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.save-btn {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.add-theater-btn {
    display: block;
    margin-top: 20px;
    padding: 8px 16px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.editable-container {
    display: flex;
    align-items: center;
}

.editable-container div {
    margin-right: 8px; /* Adjust the spacing as needed */
}

.pen-icon {
    cursor: pointer;
    color: black;
}

