body{
  background-color: white;
}

.seat {
  text-align: center;
  padding: 10px 5px; 
  border-radius: 5px;
  background: #f1f1f1;
}

#screen {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  border-bottom-left-radius: 300% 300px; 
  border-bottom-right-radius: 300% 300px;
  /* max-width: 300px; */
  margin: 0 auto;
}


.taken { background: grey; color: #fff; }
.selected { background: #87ff96; }
 
#layout {
  max-width: 400px;
  margin: 0 auto; 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  margin-bottom: 20px;
}

#seats {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 50px auto ;
}
#seats .txt {
  display: flex;
  align-items: center;
}
 
#save {
  font-size: 20px;
  margin-top: 20px;
  padding: 10px 20px;
  border: 0;
  color: #fff;
  background: #00479f;
}