body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
.navbar {
    overflow: hidden;
    background-color: #333;
}
.navbar a {
    float: right;
    font-size: 16px;
    color:goldenrod;
    text-align: center;
    padding: 12px 14px;
    text-decoration: none;
  }

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input, select, button {
    margin-bottom: 15px;
    padding: 8px; /* Reduced padding */
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

.dynamic-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.dynamic-inputs > div {
    flex: 1;
}

.dynamic-inputs input[type="text"] {
    width: 100%; /* Full width for text inputs */
}