body{
    background-image: linear-gradient(to bottom right,black,rgb(54, 1, 22),black);
    /* background-color: #794a4a; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color:wheat;
    align-items: center;
    
       
}
/* .membership-container {
    display: flex; 
    align-items: center; 
    margin-left: 40%;
   
}  */
/* styles.css
.main-container1, .main-container2 {
    display: flex;
/* } */




.img1 {
    max-width: 150px; 
    margin-right: 20px;
    max-height: 150px;
}
p{
    font-size: larger;
    
    
}
button{
    border-radius: 15px;
    padding: 5px;
}
/* viewprofile.css */
.container {
    display: flex;
    align-items: center; 
    margin-top: 5%;/* Use a flexbox layout */
}

.main-container1 {
    flex: 1; 
    text-align: center;
    border-right: 2px solid white;/* Allow the 'main-container1' to grow to fill the available space */
}

.main-container2 {
    flex: 1; /* Allow the 'main-container2' to grow to fill the available space */
    text-align: center; /* Center the content inside 'main-container2' */
}
h3{
    align-items: center;
    font: medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: goldenrod
    
    
}
h4{
    font-family: 'Courier New', Courier, monospace;
  
    color: rgb(145, 117, 47);
    font-size: large;
    
    
}
h5{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: medium;
    color:wheat;
    
    
    
}
text{
    color: white;
}
h3{
   margin-left:  47%;
}
a{
    color: palevioletred;
}

