<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic List Box</title>
</head>
<body>
    <form method="post" action="/showgraph">
        <label for="citySelect">Select a City:</label>
        <select name="city" id="citySelect">
            {% for city in cities %}
                <option value="{{ city.locationid }}">{{ city.city }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>
    {% if img_base64 %}
        <table>
            <!-- <tr>
            <td><h1>Summarized by Location</h1></td> -->
                <!-- <td><h1>Summarized by Movies</h1></td> -->
            <!-- </tr> -->
            
            <tr>
                <td><img src="data:image/png;base64,{{ img_base64 }}"></td>
                <!-- <td><img src="data:image/png;base64,{{ img_base64 }}" alt="Line Chart"></td> -->
            </tr>
            
        </table>
        {% else %}
        <p>No Data Available,Select a City and press Submit</p>
    {% endif %}
   
    
</body>
</html>
