<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/payment.css')}}">
    <title>Confirmation</title>
</head>
<body>
    <div class="main-container">
        
        <div class="tabledialog" style="text-align: center;">
             Your booking is confirmed. your will recieve an email with the booking details
        </div>
    </div>
</body>
</html>