<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/seatselection.css')}}">
    <script src="{{ url_for('static', filename='js/seatselection.js')}}"></script>
</head>
<body>
    <li>
        <input type="hidden" id="theaterid" name="theaterid" value="{{ theaterid }}" readonly>
    </li>
    <li>
        <input type="hidden" id="showingdetailid" name="showingdetailid" value="{{ showingdetailid }}" readonly>
    </li>    
    <div id="screen">
        <h2>Screen</h2>
    </div>
    <br>
    <div id="layout"></div>   
    <div id="selected-seats-message"></div>
    <br>
    <div id="seats">
        <div class="seat"></div> <div class="txt">Available</div>
        <div class="seat taken"></div> <div class="txt">Taken</div>
        <div class="seat selected"></div> <div class="txt">Your Chosen Seats</div>
    </div>    
    <button id="save" onclick="reserve.save()">Continue</button>
</body>
</html>
