<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/testhome.css">
   
    
    <title>MovieAnytime</title>
</head>

<body >
    <section class="top-bar">
        <div class="left-content">
            <h2 class="title">MovieAnytime</h2>
            <ul class="navigation">
                <li><a class="active" href="#">Home</a></li>
                <div class="tab1"><li><a href="">Multiplexes</a></li>
                    <!-- <div class="panel1">
                        <ul>
                            <li><a href="second.html" class="button">element 4</a><li>
                            <li>Element 2</li>
                            <li>Element 3</li>
                        </ul>
                    </div> -->
                </div>
                <div class="tab1"><li><a href="#">Upgrade Membership</a></li>
                    <!-- <div class="panel1">
                        <ul>
                            <li>Element 3</li>
                            <li>Element 4</li>
                        </ul>
                    </div>
                 -->
                </div>
                <div class="tab1"><li><a href="#">Showtimes</a></li>
                    <!-- <img src="./static/images/sonya.png" alt="" class="img3"> -->
                    <!-- <div class="panel1">
                        <ul>
                            <li>Element 3</li>
                            <li>Element 4</li>
                        </ul>
                    </div>
                 -->
                </div>
                <!-- <div class="tab1"><li><img src="./static/images/sonya.png" alt="" class="img3"></li> -->
                    <!-- <div class="panel1">
                        <ul>
                            <li>Element 3</li>
                            <li>Element 4</li>
                        </ul>
                    </div>
                 -->
                <!-- </div> -->
                <!-- <img src="./static/images/sonya.png" alt="" class="img3"><br> -->
                <!-- <a href="#"> <p>Showtime</p></a><br> -->
                <!-- <div class="tab1"><li><a href="#">Element 4</a></li> -->
                    <!-- <div class="panel1">
                        <ul>
                            <li>Element 5</li>
                            <li>Element 6</li>
                        </ul>
                    </div> -->
                </div>
            </ul>
        </div>
        <div class="right-content">
            <!-- <img src="./static/images/filter.png" alt="" class="filter" class="img2"> -->
            <!-- <img src="./static/images/cart.png" alt="" class="cart" class="img2"> -->
             <div class="profile-img-box"> 
                
           
            
            <!-- <img src="./static/images/menu.png" alt="" class="menu" class="img2"> -->
            </div>
           
           
            
            <img src="./static/images/profile.png" alt="" class="img3"><br>
            <a href="/viewprofiledetails"> <p>view profile</p></a>
            <!-- <div class="dropdown">
                <button class="dropbtn">Dropdown 
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content">
                  <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a>
                </div>
              </div> -->
            
            
        </div>
       
    </section>
    
    <!-- <section class ="slidershow middle">
            <div class="slides">
                <input type="radio" name="r" id="r1" checked>
                <input type="radio" name="r" id="r2">
                <input type="radio" name="r" id="r3">
                <input type="radio" name="r" id="r4">
                <div class="slide s1">
                    <img src="/static/images/upcoming_movies[0]['posterImage']" class="img1">
                </div>
                <div class="slide">
                    <img src="/static/images/upcoming_movies[1]['posterImage']" class="img1">
                </div>
                <div class="slide">
                    <img src="/static/images/upcoming_movies[2]['posterImage']" class="img1">
                </div>
                <div class="slide">
                    <img src="/static/images/upcoming_movies[3]['posterImage']" class="img1">
                </div>
            </div>
            <div class="navigation1">
                <label for="r1" class="bar"></label>
                <label for="r2" class="bar"></label>
                <label for="r3" class="bar"></label>
                <label for="r4" class="bar"></label>
            </div>
            
    </section> -->
    
    <section class ="slidershow middle">
        
        <div class="slides">
            <input type="radio" name="r" id="r1" checked>
            <input type="radio" name="r" id="r2">
            <input type="radio" name="r" id="r3">
            <input type="radio" name="r" id="r4">
            
            {% for movie in upcoming_movies %}
            
            <div class="slide s{{ loop.index }}">
                <img src="/static/images/{{ movie['poster'] }}" class="img1">
                <a href="#" class="button">Advance Tickets!</a>
                
            </div>
            
            {% endfor %}
        </div>
        <div class="navigation1">
            <label for="r1" class="bar"></label>
            <label for="r2" class="bar"></label>
            <label for="r3" class="bar"></label>
            <label for="r4" class="bar"></label>
            
        </div>
        
        
    </section>
    
    <section class="main-container1" >
        <div class="h1text">
            <h2 >Grab Tickets for the Latest Movies only at MovieAnytime</h2>
        </div>
        <div class="movies-container1">
       
            <div class="current-movies1">
                {% for movie in Featuring_movies %}
                <div class="current-movie1">
                    <div class="cm-img-box1">
                        <img src="static/images/{{movie['poster']}}" alt="" class="img2">
                    </div>
                    <h3 class="movie-title1">{{movie['moviename']}}</h3>
                    <h4 class="movie-duration">{{movie['runtimeminutes']}}min</h4>
                    <!-- <h3 class="release-date">{{movie['releaseDate']}}</h3> -->
                    <div class="booking">
                        <a href="" class="btn">Buy Tickets</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- <section class="slidershow middle">
        <div class="slides">
            {% for upcoming in upcomingmovie %}
                <input type="radio" name="r" id="r{{ loop.index }}" {% if loop.first %}checked{% endif %}>
                <div class="slide s{{ loop.index }}">
                    <img src="static/images/{{upcoming['posterImage']}}" class="img1">
                </div>
            {% endfor %}
        </div>
        <div class="navigation1">
            {% for movie in movies %}
                <label for="r{{ loop.index }}" class="bar"></label>
            {% endfor %}
        </div>
    </section> -->
    
    
    
    <section class="main-container">
        <div class="h1text" id="hreftags">
            <!-- <h1 >In Theaters Now</h1> -->
            <a href="/current_movies" >View All Movies</a>
            <!-- <a href="/upcoming_movies" >Coming Soon</a> -->
        </div>
        <div class="movies-container" id="moviesdiv1">
            <!-- <h1 >Movies Lined Up</h1><br> -->
            <div class="current-movies">
                {% for movie in movies %}
                <div class="current-movie">
                    <div class="cm-img-box">
                        <img src="static/images/{{movie['poster']}}" alt="" class="img2">
                    </div>
                    <h3 class="movie-title">{{movie['moviename']}}</h3>
                    <h4 class="movie-duration">{{movie['runtimeminutes']}}min</h4>
                    <!-- <h1 class="release-date">{{movie['releaseDate']}}</h1> -->
                    <div class="booking">
                        <a href="" class="btn">Buy Tickets</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="h1text" id="hreftags">
            <!-- <h1 >In Theaters Now</h1> -->
            <!-- <a href="/current_movies" >View All Movies</a> -->
            <a href="/upcoming_movies" >Coming Soon</a>
        </div>
        <div class="movies-container" id="moviesdiv2">
            <!-- <h1 >Soon-to-Hit-Theaters</h1><br> -->
       
            <div class="current-movies">

                {% for movie in upcoming_movie_all %}
                <div class="current-movie">
                    <div class="cm-img-box">
                        <img src="static/images/{{movie['poster']}}" alt="" class="img2">
                    </div>
                    <h3 class="movie-title">{{movie['moviename']}}</h3>
                    <h4 class="movie-duration">{{movie['runtimeminutes']}}min</h4>
                    <!-- <h1 class="release-date">{{movie['releaseDate']}}</h1> -->
                    <div class="booking">
                        <a href="" class="btn">Buy Advance Tickets </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    

   
</body>
</html> 
